<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Detail Contract</title>
</head>
<body>
<h4><a href="/detailcontracts">Detail Contract List</a></h4>
<h1>Create Detail Contract</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post" th:action="@{/create-detailcontract}" th:object="${detailContract}">
    <table>
        <tr>
            <td>Contract ID: </td>
            <td>
                <select th:field="*{contract}">
                    <option th:each="c : ${contracts}" th:value="${c.id}" th:text="${c.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Other Service: </td>
            <td>
                <select th:field="*{otherService}">
                    <option th:each="os : ${otherservices}" th:value="${os.id}" th:text="${os.otherServiceName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Amount: </td>
            <td><input type="text" th:field="*{amount}"></td>
            <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Detail Contract"></td>
        </tr>
    </table>
</form>
</body>
</html>