<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer Type</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Delete Customer Type</h1>
    <form th:action="@{/delete-customer-type}" method="post" th:object="${customerType}">
        <input th:type="hidden" th:field="*{id}" name="id">
        <table>
            <tr>
                <td>Customer Type: </td>
                <td th:text="*{customerTypeName}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete"></td>
            </tr>
        </table>
    </form>
</body>
</html>