<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Discount List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="bs-example">
<table border="1" class="table">
<tr>
    <th>Title</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Discount Percent</th>
    <th>Detail</th>

</tr>
<th:block th:each="d : ${discounts}">
    <tr>
        <td th:text="${d.title}"></td>
        <td th:text="${d.startTime}"></td>
        <td th:text="${d.endTime}"></td>
        <td th:text="${d.discountPercent}"></td>
        <td th:text="${d.detail}"></td>
    </tr>
</th:block>
</table>
<a href="/discounts"><h3>Discount List</h3></a>
</div>
</body>
</html>