
<hr>
<button type="button" class="btn btn-success" (click)="isShowForm = !isShowForm">Add Customer</button>
<div *ngIf="isShowForm">
  <form (ngSubmit)="onSubmit();" [formGroup]="customerForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Customer ID</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Customer ID" formControlName="customerId">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Full Name" formControlName="fullName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Date of Birth</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Birthday" formControlName="dob">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">ID Card Number</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="ID Card Number" formControlName="idCardNum">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Email" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Address" formControlName="address">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Customer Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="customerTypeId" name="customerTypeId" id="diamond" value=1 checked>
            <label class="form-check-label" for="diamond">
              Diamond
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="customerTypeId" name="customerTypeId" id="gold" value=2>
            <label class="form-check-label" for="gold">
              Gold
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" formControlName="customerTypeId" name="customerTypeId" id="silver" value=3>
            <label class="form-check-label" for="silver">
              Silver
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" formControlName="customerTypeId" name="customerTypeId" id="member" value=4>
            <label class="form-check-label" for="member">
              Member
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

</div>
<hr>

<!--TABLE-->
<table>
  <tr>
    <th>Customer ID</th>
    <th>Full Name</th>
    <th>Date of Birth</th>
    <th>ID Card Number</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let customer of customers; index as i">
    <td>{{customer.customerId}}</td>
    <td>{{customer.fullName}}</td>
    <td>{{customer.dob}}</td>
    <td>{{customer.idCardNum}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <ng-container [ngSwitch]="customer.customerTypeId">
      <td *ngSwitchCase="1">Diamond</td>
      <td *ngSwitchCase="2">Gold</td>
      <td *ngSwitchCase="3">Silver</td>
      <td *ngSwitchCase="4">Member</td>
    </ng-container>
    <td>
      <a class="btn text-primary">
        <i class="fa fa-edit"></i>
      </a>
    </td>
    <td>
      <a class="btn text-danger" (click)="deleteCustomer(i)">
        <i class="fa fa-trash"></i>
      </a>
    </td>

  </tr>
</table>
