<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" class="table">
    <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.age}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>