<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furama Resort</title>
    <link href="home.css" rel="stylesheet">
</head>
<body>
    <header><h1>Furama Resort</h1></header>
    <div align="center">
        <div class="dropdown">
            <button class="dropbtn"><a href="/">Home</a></button>
        </div>

        <div class="dropdown">
            <button class="dropbtn" value="staff">Staff</button>
<!--            <div id="staff" class="dropdown-content">-->
<!--                <a href="#">PHP</a>-->
<!--                <a href="#">CSS</a>-->
<!--                <a href="#">HTML</a>-->
<!--            </div>-->
        </div>

        <div class="dropdown">
            <button value="customer" class="dropbtn">Customer</button>
            <div id="customer" class="dropdown-content">
                <a href="#">Diamond</a>
                <a href="#">Platinum</a>
                <a href="#">Gold</a>
                <a href="#">Sliver</a>
                <a href="#">Member</a>
            </div>
        </div>

        <div class="dropdown">
            <button value="service" class="dropbtn">Service</button>
            <div id="service" class="dropdown-content">
                <a href="#">Villa</a>
                <a href="#">House</a>
                <a href="#">Room</a>
                <a href="#">Other Service</a>
            </div>
        </div>

        <div class="dropdown">
            <button value="review" class="dropbtn">Review</button>
        </div>

        <div class="dropdown">
<!--            <button value="search" class="dropbtn">Review</button>-->
            <input type="text">
            <input type="submit" value="Search" class="search">
        </div>
    </div>

    <section>
        <nav>
            <ul>
                <li><a href="/services">Service List</a></li>
                <li><a href="/employees">Employee List</a></li>
                <li><a href="/customers">Customer List</a></li>
                <li><a href="/customer-type">Customer Type List</a></li>
            </ul>
        </nav>

        <article>
<!--            <h2>Choose a page: </h2>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th><a href="#">Service</a></th>-->
<!--                    <th><a href="#">Staff</a></th>-->
<!--                    <th><a href="#">Customer</a></th>-->
<!--                </tr>-->
<!--            </table>-->
        </article>
    </section>

    <footer>
        <p>Nguyễn Hà Nguyên</p>
    </footer>
</body>
</html>