<div class='container'>
  <div class='box'>
<!--    Hello, {{speak()}} !-->

<!--    <div *ngFor='let color of colors'>-->
<!--      {{color}}-->
<!--    </div>-->

<!--    <div *ngFor='let fruit of fruits; let i=index'>-->
<!--      Fruit {{i}} is {{fruit}}-->
<!--    </div>-->

<!--    <div *ngFor="let car of cars">-->
<!--      We have a {{car.make}} {{car.model}} with a mileage of {{car.miles}}-->
<!--    </div>-->
<!--      <div class="number-display">-->
<!--        {{counter}}-->
<!--      </div>-->
<!--      <button (click)="increment()"> increment </button>-->

<!--    <div class="display">-->
<!--      {{phrase}}-->
<!--    </div>-->
<!--    <button (click)="update()"> click me </button>-->

    <div>
      <div *ngFor="let car of cars">
        We have a {{car.make}} {{car.model}} with a mileage of {{car.miles}}
      </div>
    </div>

    <div>
      <input [(ngModel)]="make" placeholder="make">
      <input [(ngModel)]="model" placeholder="model">
      <input type="number" [(ngModel)]="miles" placeholder="miles">
    </div>

    <button (click)="addCar()">add Car</button>
  </div>
</div>

